<div class="container bootdey">
    <div class="row">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">{{title }}</h4>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-6 col-12 mt-4 pt-2" *ngFor="let player of playerList, index as i">
            <div class="team text-center rounded p-3 py-4">
                <img [src]="poste[i].icon" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                <div class="content mt-3">
                    <h4 class="title mb-0">{{player.name}}</h4>
                    <small class="text-muted"> {{poste[i].name}} </small>

                </div>
            </div>
        </div><!--end col-->

    </div><!--end row-->
</div>