<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" [class]="additionnalClass" id="mainNav"
  [ngClass]="{ 'navbar-scrolled': scrolled }">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">
      <img src="assets/img/logo/mlabs-logo-white.png" alt="mlabs" width="200px" />
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item"><a class="nav-link" href="#about">A propos</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#events">Evènements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>