<app-navbar></app-navbar>
<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-8 align-self-end">
        <h1 class="text-white font-weight-bold">
          Welcome to <br />Mobile Legends Labs
        </h1>
        <hr class="divider" />
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 mb-5">By Khoumal Gaming</p>
        <a class="btn btn-primary btn-xl" href="#about">Découvrir</a>
      </div>
    </div>
  </div>
</header>
<section class="page-section " id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Nous avons ce dont vous avez besoin!</h2>
        <hr class="divider divider-light" />
        <p class="text-white-75 mb-4">
          Voulez-vous mélanger votre équipe? Vous voulez jouer un partie fun avec des héros aléatoires pour chaque
          poste?
          Vous ne savez pas comment contrer un héro? Les astuces sur le jeu Mobile Legends se trouve ici.
        </p>
        <a class="btn btn-light btn-xl" href="#services">Surprenez-moi!</a>
      </div>
    </div>
  </div>
</section>
<section class="page-section" id="services">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mt-0">A Votre Service</h2>
    <hr class="divider" />
    <section class="wrapper">
      <div class="container-fostrap">
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <a class="img-card" [href]="shufflePath">
                    <img src="assets/img/team.jpg" />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a [href]="shufflePath"> Mélangez votre équipe
                      </a>
                    </h4>
                    <p class="">
                      Marre de devoir choisir qui sera avec qui pour les parties custom? Venez-ici, on va vous aider.
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a [href]="shufflePath" class="btn btn-link btn-block">
                      Découvrir
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <a class="img-card" [href]="randomPath">
                    <img src="assets/img/lightborn.jpg" />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a [href]="randomPath">
                        Une poste, un Héro
                      </a>
                    </h4>
                    <p class="">
                      Voulez-vous jouer à une partie fun entre ami? Venez prendre ici le héro que vous allez utiliser
                      pour chaque poste, afin de pimenter un peu le jeu.
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a [href]="randomPath" class="btn btn-link btn-block">
                      Découvrir
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <a class="img-card" [href]="metaPath">
                    <img src="assets/img/win.png" />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a href="metaPath">Héros Meta
                      </a>
                    </h4>
                    <p class="">
                      Quelques héros méta de la saison actuelle seront afficher ici. Cependant, ces données peuvent être
                      ne pas à jour par rapport à la dernière version du jeu.
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a [href]="metaPath" class="btn btn-link btn-block">
                      Découvrir
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</section>

<section id="events" class="page-section bg-dark text-white">
  <div class="container px-4 px-lg-5 text-center">
    <h2 class="mb-4">On organise aussi des events gaming si ca vous chante, visiter ce lien pour découvrir les
      nouveautés sur ces évènements</h2>
    <a class="btn btn-light btn-xl" href="https://facebook.com/gaming/khoumalgaming" target="_blank">Visiter
      maintenant</a>
  </div>
</section>
<app-contact></app-contact>