<app-navbar></app-navbar>
<section class="page-section  " id="player-list" *ngIf="!shuffledTeam">

    <div class="input-section row " *ngIf="UserList.length!=10">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form [formGroup]="playerFormGroup" (ngSubmit)="handleAdd()">
                <div class="input-group mb-3">
                    <input formControlName="pseudo" type="text" class="form-control" placeholder="Pseudo"
                        aria-label="pseudo" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="input-section row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 button-section">
            <button type="button" class="btn btn-primary btn-lg" (click)="handleShuffle()" *ngIf="UserList.length==10">
                Melanger</button>
        </div>
    </div>
    <hr class="divider" *ngIf="UserList.length!=10" />
    <div class="table-section row" *ngIf="UserList.length!=0">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Pseudo</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of UserList,index as i">
                        <th scope="row">{{i+1}}</th>
                        <th></th>
                        <td>{{user.name}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>

<div class="page-section" *ngIf="shuffledTeam" id="shuffledTeam">
    <div class="row text-center">
        <div class="col-lg-6">
            <app-player-card [playerList]="leftTeam" title="Left Team"></app-player-card>
        </div>
        <div class="col-lg-6">
            <app-player-card [playerList]="rightTeam" title="Right Team"></app-player-card>
        </div>
    </div>
    <!-- <div class="table-section row">
        <div class="col-lg-4 align-right">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Pseudo</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of leftTeam,index as i">
                        <th scope="row">{{i+1}}</th>
                        <th></th>
                        <td>{{user.name}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-4 reshuffle">
            <button type="button" class="btn btn-primary btn-lg " (click)="handleShuffle()" *ngIf="UserList.length==10">
                Melanger à nouveau</button>
        </div>

        <div class="col-lg-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Pseudo</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of rightTeam,index as i">
                        <th scope="row">{{i+1}}</th>
                        <th></th>
                        <td>{{user.name}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div> -->
</div>