#player-list,
.page-section {
  min-height: 100vh;
  background-color: antiquewhite;
}

.table-section {
  padding: 100px;
  padding-top: 0;
}
.button-section {
  display: flex;
  justify-content: center;
}
.reshuffle {
  text-align: center;
  margin: auto;
}
.align-right {
  text-align: right;
}

#shuffledTeam {
  background-image: url("../../../assets/img/vs_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
